/**
 * Dark Theme Modifications:
 * - Implemented a dark color scheme across all elements.
 * - Adjusted text colors for better readability on dark backgrounds.
 * - Modified hover effects and transitions.
 */

body {
    background-color: #121212;
    color: #e0e0e0;
}

.navbar {
    background-color: #222;
}

.navbar a {
    color: #ccc;
}

.navbar a:hover {
    background-color: #444;
}

main {
    background-color: #181818;
}

.main-content article {
    background: #282828;
    box-shadow: 1px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.main-content article:hover {
    transform: scale(1.05) rotate(2deg);
}


footer {
    background-color: #222;
}

#visitor-form {
    background-color: #181818;
}

#visitor-form .main-content {
    background-color: #282828;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

#visitor-form label,
#visitor-form button {
    color: #e0e0e0;
    border-color: #444;
}

#visitor-form input[type="checkbox"] {
    color: #e0e0e0;
}

#visitor-form button {
    background-color: #555;
}

#visitor-form button:hover {
    background-color: #777;
}