/**
 * Dark Theme Modifications:
 * - Implemented a dark color scheme across all elements.
 * - Adjusted text colors for better readability on dark backgrounds.
 * - Modified hover effects and transitions.
 */

body {
    background-color: #121212;
    color: #e0e0e0;
}

.navbar {
    background-color: #222;
}

.navbar a {
    color: #ccc;
}

.navbar a:hover {
    background-color: #444;
}

main {
    background-color: #181818;
}

.main-content article {
    background: #282828;
    box-shadow: 1px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.main-content article:hover {
    transform: scale(1.05) rotate(2deg);
}


footer {
    background-color: #222;
}
