body {
    background-image: url("../WoodBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    margin: 15px;
}
img {
    float: right;
    margin-left: 20px;
}
a {
    color: aqua;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.center-poem {
    text-align: center;
}
th, td {
    border: 1px solid white;
    padding: 3px;
    border-spacing: 3px;
    text-align: left;
    vertical-align: top;
    table-layout: fixed;
}

table {
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
    table-layout: fixed;
}

p {
    text-indent: 20px;
    margin-bottom: 1em;
}

header h1 {
    font-size: 30pt;
    text-decoration: underline;
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
}
